body{
    margin:0;
    padding: 0;
    background-color: #B1D4E0;
}

header{
  background-color:#0C2D48; 
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
  padding: 15px;
}

header h1 {
    color: whitesmoke;
    padding: 5px;
    margin: 0px;
    line-height: 1;
}

nav a{
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 1.2rem;
    color:whitesmoke;
}

.banner{
    background: teal;
    background-image: url("https://images.squarespace-cdn.com/content/v1/51623c20e4b01df404d682ae/1431604157325-XWF1WJ6U1LQ5S6N810J2/image-asset.jpeg?format=750w");
    background-size: cover;
    background-position: center;
    min-height: 20vh;
    display: flex;
    padding: 2% 6%;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.banner h2 {
    background-color:#0C2D48; 
    display: inline;
    color: whitesmoke;
}

.about-me{
    display:flex;
    justify-content: space-between;
    margin-right: 25px;
    margin-left: 25px;
}

.work{
    display: flex;
    margin-right: 25px;
    margin-left: 25px;
}


footer{
    background-color:#0C2D48; 
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    padding: 15px;
}

footer h2 {
    color: whitesmoke;
    padding: 5px;
    margin: 0px;
    line-height: 1;
}

footer a{
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 1.2rem;
    color:whitesmoke;
}

.project-2-3{
    margin-left: 55px;
    color: whitesmoke;
}

.bad-code{
    margin-left: 25px;
}
.project-4-5{
    margin-left: 55px;
    color: whitesmoke;
}

.project{
    border: solid;
    border-color: teal;
    margin-bottom: 25px;
    margin-left:25px;
    margin-top: 25px;
    background-color:#0C2D48; 
}

